<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../webapp/js/axios.min.js" th:src="@{/js/axios.min.js}"></script>
    <script src="../../webapp/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../webapp/js/vue.min.js" th:src="@{/js/vue.min.js}"></script>
    <title>编辑产品</title>
</head>
<style>
    #app{
        margin-top: 100px;
        min-width: 700px;
    }
    .disableHref{
        cursor:default;
        color: black;
        text-decoration:none;
    }
    table tr td{
        line-height: 30px;
        padding-left: 5px;
    }
    input{
        height: 30px;
        width: 99%;
        padding-left: 5px;
        font-size: 16px;
    }
    select{
        height: 30px;
        font-size: 16px;
        width: 99%;
    }
</style>
<script>
    $(function(){
        $("a.disableHref").click(function(event){
            return false;
//                event.preventDefault();
        });
    });
</script>
<body>
<div id="app">
    <table id="schoolTable" border="1px" align="center" width="60%">
        <tr><td colspan="4"><strong>更新学校</strong></td></tr>
        <tr>
            <td>编号：</td>
            <td>{{school4update.id}}</td>
        </tr>
        <tr>
            <td>所属城市：</td>
            <td>
                <select v-model="school4update.city.id">
                    <option v-for="c in cities" :value="c.id">{{c.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>校区名：</td>
            <td><input type="text" v-model="school4update.name" style="width: 97%;"/></td>
        </tr>
        <tr>
            <td>地址：</td>
            <td><input type="text" v-model="school4update.address" style="width: 97%;"/></td>
        </tr>
        <tr>
            <td>开业事件：</td>
            <td>{{school4update.openDate}}</td>
        </tr>
        <tr>
            <td><input type="button" value="取 消" style="width: 100%;" @click="cancel"/></td>
            <td><input type="button" value="更 新" style="width: 100%;" @click="update"/></td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript">
    //获取地址栏参数的函数
    function getUrlParms(name){
        let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        let r = window.location.search.substr(1).match(reg);
        if(r!=null)
            return unescape(r[2]);
        return null;
    }
    let data4Vue = {
        cities: [],
        school4update: {id: 0, name: "", address: "", city:{id: 0, name: "", code: ""}, openDate: ""},
    };
    let vue = new Vue({
        el: "#app",
        data: data4Vue,
        mounted: function (){//mounted　表示这个 Vue 对象加载成功了
            this.get();
            this.listCities();
        },
        methods:{
            get:function (){
                let id = getUrlParms("id");
                let url = "schools/" + id;
                axios.get(url).then(function (res){
                    vue.school4update = res.data;
                });
            },
            listCities:function (){
                let url = "cities/all";
                axios.get(url).then(function (res){
                    vue.cities = res.data;
                });
            },
            update:function (){
                if(this.school4update.name === "" || this.school4update.address === "")
                    alert("学校信息不完整");
                else{
                    let id = getUrlParms("id");
                    let url = "schools/" + id;
                    axios.post(url, this.school4update).then(function (res){
                        location.href = "admin_school_list";
                    });
                }
            },
            cancel:function (){
                location.href = "admin_school_list";
            }
        },
    })
</script>
</html>